<footer class="footer">
  <p>Copyright © <a href="https://uchicagospaceprogram.org">University of Chicago Space Program</a> {{ year }}</p>
  <p>Documentation created with <a href="https://antora.org/">Antora</a></p>
</footer>
