<button class="nav-toggle">
  <svg class="nav-toggle-open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" aria-hidden="true">
      <path
         sodipodi:nodetypes="cc"
         inkscape:connector-curvature="0"
         id="path4149"
         d="m 35,19.7724959 55.000003,0"
         style="fill:none;fill-rule:evenodd;stroke:currentColor;stroke-width:8;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.94117647" />
      <rect
         y="12.2724959"
         x="10"
         height="15"
         width="15"
         id="rect4184"
         style="opacity:1;fill:currentColor;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
      <path
         style="fill:none;fill-rule:evenodd;stroke:currentColor;stroke-width:5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.94117647"
         d="m 42.999999,63.6776659 44.999999,0"
         id="path4180"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="cc" />
      <rect
         style="opacity:1;fill:currentColor;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         id="rect4186"
         width="10"
         height="10"
         x="23"
         y="58.6776659" />
      <path
         sodipodi:nodetypes="cc"
         inkscape:connector-curvature="0"
         id="path4182"
         d="m 42.999999,82.7274659 44.999999,0"
         style="fill:none;fill-rule:evenodd;stroke:currentColor;stroke-width:5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.94117647" />
      <rect
         y="77.7274659"
         x="23"
         height="10"
         width="10"
         id="rect4188"
         style="opacity:1;fill:currentColor;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
      <path
         sodipodi:nodetypes="cc"
         inkscape:connector-curvature="0"
         id="path4210"
         d="m 42.999999,44.6279659 44.999999,0"
         style="fill:none;fill-rule:evenodd;stroke:currentColor;stroke-width:5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.94117647" />
      <rect
         y="39.6279659"
         x="23"
         height="10"
         width="10"
         id="rect4212"
         style="opacity:1;fill:currentColor;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
  </svg>

  <svg class="nav-toggle-back" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" aria-hidden="true">
    <path
  fill="currentColor"
 d="m 50.000978,9.89975 -40.1010516,40.10025 40.1010516,40.10025 5.6556,-5.65551 -30.434757,-30.44194 h 64.878253 v -8.0056 H 25.221821 l 30.434757,-30.44001 z" />
  </svg>
</button>
