<div class="toolbar" role="navigation">
  {{> nav-toggle}}
  {{#with site.homeUrl}}
    <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" aria-hidden="true">
          <path
            style="stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
            d="M 50.019531 13.576172 L 21.439453 39.115234 L 21.419922 86.460938 L 42.925781 86.460938 L 42.951172 61.294922 L 57.048828 61.294922 L 57.074219 86.460938 L 78.619141 86.460938 L 78.638672 39.150391 L 50.019531 13.576172 z "
            id="path4175" />
          <path
            style="stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="m 63.815035,25.903568 0,-9.217018 8.656932,0 -2e-6,16.95383 z"
            id="path4193"
            inkscape:connector-curvature="0"
            sodipodi:nodetypes="ccccc" />
          <path
            inkscape:connector-curvature="0"
            style="stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="m 21.43888,39.11565 -9.98234,8.92037"
            id="path4177" />
          <path
            inkscape:connector-curvature="0"
            style="stroke-width:4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="m 88.58189,48.03602 -9.94315,-8.88535"
            id="path4170" />
      </svg>

    </a>
  {{/with}}
  {{> breadcrumbs}}
  {{> page-versions}}
  {{> edit-this-page}}
  <button class="night-mode-toggle" title="Toggle night mode" type="button" aria-label="Toggle night mode">
    <!-- Sun icon svg -->
    <svg class="theme-icon sun-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <circle cx="12" cy="12" r="4"/>
      <path d="M12 2v2"/>
      <path d="M12 20v2"/>
      <path d="m4.93 4.93 1.41 1.41"/>
      <path d="m17.66 17.66 1.41 1.41"/>
      <path d="M2 12h2"/>
      <path d="M20 12h2"/>
      <path d="m6.34 17.66-1.41 1.41"/>
      <path d="m19.07 4.93-1.41 1.41"/>
    </svg>
    <!-- Moon icon svg -->
    <svg class="theme-icon moon-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401"/>
    </svg>
  </button>
</div>
