.page-versions {
  margin: 0 0.2rem 0 auto;
  position: relative;
  line-height: 1;
}

@media screen and (min-width: 1024px) {
  .page-versions {
    margin-right: 0.7rem;
  }
}

.page-versions .version-menu-toggle {
  color: inherit;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%235d5d5d" viewBox="0 0 30 30"%3E<path style="opacity:1;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" d="M 3.6699219,6.5898438 1.4550781,8.6152344 15,23.374272 28.544922,8.6152344 26.330078,6.5898438 15,18.759498 Z" />%3C/svg%3E') no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: auto 0.75em;
  border: none;
  outline: none;
  line-height: inherit;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  position: relative;
  z-index: var(--z-index-page-version-menu);
}

[data-theme="dark"] .page-versions .version-menu-toggle {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23cccccc" viewBox="0 0 30 30"%3E<path style="opacity:1;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" d="M 3.6699219,6.5898438 1.4550781,8.6152344 15,23.374272 28.544922,8.6152344 26.330078,6.5898438 15,18.759498 Z" />%3C/svg%3E') no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: auto 0.75em;
}

.page-versions .version-menu {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: flex-end;
  background: linear-gradient(to bottom, var(--page-version-menu-background) 0%, var(--page-version-menu-background) 100%) no-repeat;
  padding: 1.375rem 1.5rem 0.5rem 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
}

.page-versions:not(.is-active) .version-menu {
  display: none;
}

.page-versions .version {
  display: block;
  padding-top: 0.5rem;
}

.page-versions .version.is-current {
  display: none;
}

.page-versions .version.is-missing {
  color: var(--page-version-missing-font-color);
  font-style: italic;
  text-decoration: none;
}
